.header1 {
  height: 45vh;
  background-image: linear-gradient(to right bottom, rgba(255, 118, 118, 0.666), rgba(71, 142, 248, 0.666)), url(../img/R92f15206673a98da8465eb1831e521e5.png);
  background-size: cover;
  background-position: top;
  position: relative; }

.background {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center; }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 2rem; }

.btn-background {
  background-color: #fa6363; }

.blog1 {
  text-align: center;
  font-size: 2rem;
  padding: 15rem;
  margin-left: 5rem;
  margin-right: 5rem; }

.blogs {
  background-image: linear-gradient(to right bottom, #fd4141, #008cff);
  -webkit-background-clip: text;
  color: transparent; }

.blogs-img {
  width: 60rem;
  height: 40rem; }

.paragraph {
  font-size: 1.5rem;
  text-align: left;
  padding-right: 30rem;
  padding-left: 9rem; }

.heading6 {
  font-size: 1.3rem;
  padding-right: 10rem; }

.blogs22 {
  padding-left: 9rem;
  font-size: 2rem;
  text-align: left; }

.twitter {
  padding-left: 10rem; }
